/*
Josh Post 
Yoobee Design School
Wellington

-- Color Palette --

White = #fff
Black = #000
Maroon = #A11222
Green = #2FBC42
Pink = #f27182

*/

/* GLOBAL */

html {
    height: 100%;
}

.col { margin: 0 .8%; }

.col.full 		{ width: 98%; }
.col.half 		{ width: 48%; }
.col.quarter 	{ width: 23%; }
.col.third 		{ width: 31%; }
.col.three-quarter { width: 73%; }
.col.two-thirds { width: 64%; }
.col.sixth 		{ width: 14%; }

.left { float: left; }
.right { float: right; }
.clear { clear: both; }

.animate { transition: 400ms; }
.fixed { position: fixed; }
.container { 
	margin: 0 auto;
	max-width: 980px;
}

.white { color: #fff; }
.black { color: #000 }
.grey { color: #7b7b7b; }
.light-grey { color: #ededed; }
.gren { color: #2FBC42; }
.red { color: #A11222; }

.red-under { border-bottom: 2px solid #A11222; }

.white-bg { background-color: #fff; }
.green-bg { background-color: #2FBC42; }

.pointer:hover { cursor: pointer; }

img, video, iframe { max-width: 100%; }

.contact-info li span {
	width: 50px;
	display: inline-block;
}

.recessed-title {
	display: block;
	background-color: #2FBC42;
	margin: 0 0 0 -13px;
	padding: 10px;
	height: 36px;
	width: auto;
}

.recessed-title,
.recessed-title a {
	color: #000;
}

.recessed-title:before {
	border-left: 13px solid transparent;
	border-top: 13px solid #A11222;
	bottom: -45px;
	left: -30px;
	content: '';
	height: 0;
	position: relative;
	width: 0;
}

/* LAYOUT */

/* HEADER */

header {
	background-image: url('/assets/Uploads/generic-callout2.jpg');
	background-color: #000;
	background-size: 100%;
	background-position: center;
}

header .container {
	background-color: rgba(255,255,255,0.8);
}

header .headerText {
	float: left;
	padding-left: 20px;
}

header img { 
	padding: 10px;
	margin: 0 auto;
	float: left;
	width: 250px;
	border-radius: 99em;
	/* padding: 10px; */
	box-shadow: 3px 3px 3px #7b7b7b;
}

header h2 {	padding: 0; }
header p { padding: 0; }
header nav { margin-top: 30px; }
header nav #navLinks { margin: 0; }

header nav #navLinks li a {	
	color: #fff;
	padding: 15px;
	display: block;
	border-bottom: 3px solid transparent;
	background-color: #2FBC42;
}

header nav #navLinks li { 
}
header nav #navLinks li.current a { border-bottom: 3px solid #A11222; }

#search form,
#search fieldset { 
	padding: 0;
	margin: 0 auto;	
}

#search input {
	float: left;
	margin: 0;
	line-height: 14px;
	height: auto;
	padding: 3px 6px;
}

#SearchResults .recessed-title {
	margin-left: -32px;
	margin-top: 20px;
	padding: 5px 13px 5px 0;
}

#SearchResults .recessed-title:before {
	left: -1px;
	bottom: -44px;
}

#Search { 
	width: 65%; }
#search #SearchForm_SearchForm_action_results { 
	margin: 0 4%;
	border: none;
	background-color: #2FBC42;
	height: 27px;
	padding: 0;
	color: #fff;
	width: 25%; }

#navLinks, header .contact-info { padding: 10px 0;}

header .contact-info {
	background-color: #fff;}

#externalLinks {
	margin: 0;
	padding: 0 5px;
	border-bottom: none;
	position: fixed;
	left: 250px;
	height: 25px;
	top: 0;
	border-top: none;
	z-index: 30;
}

#externalLinks li {
	width: 25px;
	height: 25px;
	margin: 5px 0 0;
	display: inline-block;
	text-indent: -999em;
	background-color: transparent;
}

#externalLinks li a {
	float: left;
	width: inherit;
	height: inherit;
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	/*transition: all 0.5s;*/
}

#externalLinks #LinkedInLink {background-image: url('../images/icons/linkedin.png');}
#externalLinks #GooglePlusLink {background-image: url('../images/icons/google-plus.png');}
#externalLinks #RdioLink {background-image: url('../images/icons/rdio.png');}
#externalLinks #TwitterLink {background-image: url('../images/icons/twitter.png');}
#externalLinks #GithubLink {background-image: url('../images/icons/github.png');}


/* BODY */

body > section {
	background-color: #fff;
}

.main { margin: 0 auto; }
.main .container { padding-top: 50px; }
.main h1 { padding: 10px; border-bottom: 3px solid #ededed;}
.main h3,
.main ol,
.main p { padding: 20px 10px 0; }

.scroll-top {
	display: none;
	padding: 5px 40px 5px 5px;
	position: fixed;
	top: 0;
	right: 20px;
	background-color: #2FBC42;
	background-image: url('../images/up-arrow.png');
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: 170px center;
}


/* HOMEPAGE */

.Home {
    height: 100%;
}

.Home header {
	display: none;
}

#home-page {
	background-attachment: fixed;
	background-size: 100%;
    z-index: 1;
    height: 100%;
}

#home-page .container {
	max-width: none;
    width: 100%;
    height: 100%;
}

#home-page .container .home-div h2,
#home-page .container .home-div h3,
#home-page .container .home-div h5,
#home-page .container .home-div p {
	padding: 5px 30px;
}

#home-page .container #home-callout {
	max-width: none;
	height: 100%;
	padding-top: 10%;
	position: relative;
}

#home-page .container #home-callout img {
	width: 250px;
	border-radius: 99em;
	border: 7px solid #ededed;
	margin: 0 auto;
	display: block;
}

#home-portfolio,
#home-blog {
	position: absolute;
	z-index: 30;
	bottom: 0;
	width: 400px;
	max-width: 50%;
}

#home-blog {right: 0;}

.home-div .home-div-link {
	width: 100%;
	height: 100%;
	display: block;
	background-color: #2FBC42;
	color: #fff;
	font-size: 1em;

}
.home-div p {
display: none;}

#home-page .container .home-div .call-to-action {
	margin-top: 200px;
	display: inline-block;
	margin-left: -13px;
}

#home-page .container .home-div .call-to-action a {
	color: #000;
}


/* PORTFOLIO */


#portfolio-page .website-scroll-to-link {
	height: 200px;
	opacity: .6;
}

#portfolio-page .website-scroll-to-link:hover { opacity: 1; }

#portfolio-page .website-scroll-to-link p {
	background-color: #fff;
	margin: 0;
	padding: 5px;
	border-bottom: 2px solid #A11222;
}

#portfolio-page .website {
	margin: 50px 0;
	padding:0;
	border-bottom: 3px solid #A11222;
	background-color: #fff;
}

#portfolio-page .website .website-div-link {
	position: relative;
	width: 100%;
	height: 100%;
	display: block;
	text-indent: -999em;
}

#portfolio-page .website .website-title {
	padding: 5px 30px;
	background-color: #fff;
}

#portfolio-page .website:hover .website-info { display: block; }
#portfolio-page .website .website-info { background-color: rgba(0,0,0,.8); }
#portfolio-page .website .website-info p { 
	padding: 10px 20px;
	margin: 0;
	color: #fff; }

#portfolio-page .website .website-link {
	margin: 0;
	padding: 10px 20px;
	display: block;
}

/* BLOG */

.blog-summary { 
	background-color: #fff;
	margin: 50px 0; }

.blog-summary h2 {
	padding: 15px;
	clear: right;
}

.blog-summary p {
	padding:  0;
}

.blog-summary img {
	float: right;
	padding: 20px 0 0 50px;
	max-width: 300px;
	width: 32%;
	height: auto;
}

.blog-summary .readmore {
	clear:both;
}

.blog-tree-title {
	padding: 0 !important;
	display: inline-block;
	margin: 3px 0;
	float: right;
}

.blog-tree-title a {
	padding: 3px 6px;
	max-width: none !important;
	border-bottom: 1px solid #A11222;
}

#blog-share-buttons { padding: 0; }

.blog-share-button {
	display: block;
	margin: 3px 0;
	float: left;
}

.blog-entry .blog-share-button iframe {
	margin:0;
}

.blog-entry iframe,
.blog-entry img,
.blog-entry video { margin: 20px 0; }
.blog-entry img.left, .blog-entry iframe.left, .blog-entry video.left { padding-right: 25px; }
.blog-entry img.right, .blog-entry iframe.right, .blog-entry video.right { padding-right: 25px; }

.blog-entry .tag-start {
	clear: both; 
	padding-bottom: 3px; }

.blog-entry .tags {
	padding-top: 0;
	padding-bottom: 50px;
}

.blog-entry .tags a {
	display: inline-block;
	padding: 5px 10px;
	background-color: #2FBC42;
	color: #000;
}

.blog-entry .blog-date { 
	font-size: .8em;
	margin-top: 5px;
	opacity: .6;
	border: none; }



/* FOOTER */

footer {
	background-color: #ededed;
}
footer .container { padding-top: 10px; }
footer .container li a:hover { opacity: 1; }
footer .contact-info { 
	margin-top: 10px;
}

footer .container .footer-info { 
	margin: 0 auto;
	padding: 25px 0;
}

/* ========== LAPTOP LAYOUT ========== */

@media only all and (max-width: 1300px) and (min-width: 960px) {

	/* LAPTOP HEADER */

	header {
		position: static;
		width: 100%;
	}

	header p {
		margin-top: 33px;
		padding: 0;
	}

	header nav { margin-top: 0; }

	header nav #navLinks li.current {
		border-left: none;
	}

	#externalLinks {
		padding-bottom: 5px;
		border-bottom: none;
		top: 120px;
		left: auto;
		right: 0;
	}

	#externalLinks li {
		display: block;
	}

	/* LAPTOP BODY */

	.main, footer {
		width: 100%;
		margin: 0 auto;
		border-left: none;
	}
}


@media only all and (max-width: 959px) and (min-width: 481px) {



	.col.full 		{ width: 98%; }
	.col.half 		{ width: 98%; }
	.col.quarter 	{ width: 48%; }
	.col.third 		{ width: 98%; }
	.col.three-quarter { width: 98%; }
	.col.two-thirds { width: 98%; }
	.col.sixth 		{ width: 48%; }

	.container { width: 100%; }

	/* TABLET HEADER */

	#externalLinks { display: none; }

	/* TABLET BODY */

	.main {
		width: 100%;
		margin: 0;
		border: none;
	}

	.main .container {
		width: 98% !important;
		margin: 0 1%;
	}

	#portfolio-page .website-scroll-to-link { display: none; }
	#portfolio-page .website { margin: 50px auto; }
	#portfolio-page .website .website-title { top: -450px; }

	#portfolio-page .website .website-info {
		display: block;
		height: auto;
		background-color: #000;
	}
	#portfolio-page .website .website-link a { position: static; }
	#blog-share-buttons { display: none; }

}


@media only all and (max-width: 480px) {



	.col.full 		{ width: 98%; }
	.col.half 		{ width: 98%; }
	.col.quarter 	{ width: 98%; }
	.col.third 		{ width: 98%; }
	.col.three-quarter { width: 98%; }
	.col.two-thirds { width: 98%; }
	.col.sixth 		{ width: 98%; }

	/* MOBILE HEADER */

	#externalLinks { display: none;	}

	header img {
		max-width: 25%;
		float: none;
		margin: 0 auto;
		display: block;
	}

	header .headerText {
		float: none;
		padding-left: 0;
	}

	/* TABLET BODY */

	#home-page .container #home-callout img {
		width: 80%;
	}


.home-div p {
	display: none;
}

	.main, footer {
		width: 100%;
		margin: 0;
		border: none;
	}

	.main .container {
		width: 98% !important;
		margin: 0 1%;
	}

	#portfolio-page .website-scroll-to-link {
		display: none;
	}

	#portfolio-page .website {
		height: auto;
		margin: 20px auto 10px;
	}

	#portfolio-page .website .website-div-link {
		display: none;
	}

	#portfolio-page .website .website-title {
		position: static;
	}

	#portfolio-page .website .website-info {
		display: block;
		position: static;
		height: auto;
		background-color: #000;
	}
	#portfolio-page .website .website-link a {
		position: static;
	}

	#blog-share-buttons {
		display: none;
	}

}